<h1>User posts</h1>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>text</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in postComments">
            <td>{{ post.name }}</td>
            <td>{{ post.text }}</td>
            <td><a ui-sref="postComments({ postId: post.id })">See post comments</a> </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <a ui-sref="users()">Back to users</a>
        </td>
    </tr>
    </tfoot>
</table>